<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/todo.js"></script>
</head>
<div>
    <h1>Task List</h1>
    <ul>
            {% for thing in tasks %}
            <li id={{thing.task_id~"_item"}}><h>{{thing.task}}</h>
            <a href="#" class="delete_button" id={{thing.task_id}} onclick="deleteTask(this)"> Delete Task</a>
            </li>
            {% endfor %}
    </ul>
</div>

<div>
    <input id="new-task-input" type="text" class="login-field" value="" placeholder="task" name="task">
    <button id="add-task-btn" class="btn btn-primary btn-large btn-block" onclick="addTask()">Add Task</button>
</div>
<p>click the button to return to index page</p>
<form action="/Index" method="POST">
<input type="submit" value="Index" class="btn btn-primary btn-large btn-block" >
</form>